<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"></html>

<head th:include="layout :: head"></head>
    
<body>
    <nav th:replace="layout :: menu"></nav>
    <main class="container">
        <a href="/funcionarios/novo" class="btn btn-primary">Novo</a>
        <table class="table" id="tabfuncionarios">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Endereço</th>
                    <th>Cargo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="funcionario : ${listaFuncionarios}">
                    <td th:text="${funcionario.nome}"></td>
                    <td th:text="${funcionario.telefone}"></td>
                    <td th:text="${funcionario.email}"></td>
                    <td th:text="${funcionario.endereco}"></td>
                    <td th:text="${funcionario.cargo}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/funcionarios/editar/{id}(id=${funcionario.id})}">Alterar</a>
                        <button class="btn btn-danger js-delete" th:data-id="${funcionario.id}">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="javascript:window.history.go(-1)">Voltar</a>  
    </main>

    <div class="modal" tabindex="-1" id="modalfuncionario">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir Funcionário</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Confirmar exclusão do funcionário?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                    <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
            </div>
        </div>
    </div>
    

    <footer th:include="layout :: footer"></footer>
    <script th:src="@{/scriptFuncionario.js}"></script>
    
</body>
