<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <form th:action="@{/aluguel/(form)}" 
                method="POST" th:object="${aluguel}">

                <input type="hidden" th:field="*{id}">

                <input type="hidden" name="carro" id="carro" th:value="${carroEscolhido.id}">

                <div class="card" style="width: 18rem;">
                    <img th:src="@{'/carros/image/' + ${carroEscolhido.id}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title" th:text="@{{marca} - {modelo}(marca=${carroEscolhido.marca}, modelo=${carroEscolhido.modelo})}"></h5>
                        <ul class="list-group">
                            <li class="list-group-item" th:text="${carroEscolhido.placa}"></li>
                            <li class="list-group-item" th:text="${carroEscolhido.cor}"></li>
                            <li class="list-group-item" th:text="${carroEscolhido.custoDiaria}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtcliente">Cliente:</label>
                    <select class="form-select" th:field="*{cliente}" id="txtcliente">
                        <option value="0">Selecione uma opção</option>
                        <option th:each="cliente : ${listaClientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
                    </select>
                    <p th:if="${#fields.hasErrors('cliente')}"
                        th:errors="*{cliente}"
                        class="alert alert-danger"></p>
                </div>



                <div class="form-group">
                    <label for="txtdataRetirada">Data da Retirada:</label>
                    <input type="date" th:field="*{dataRetirada}" class="form-control" id="txtdataRetirada">
                    <p th:if="${#fields.hasErrors('dataRetirada')}"
                        th:errors="*{dataRetirada}"
                        class="alert alert-danger"></p>
                </div>
               
                <div class="form-group">
                    <label for="txtdataEntrega">Data da Entrega:</label>
                    <input type="date" th:field="*{dataEntrega}" class="form-control" id="txtdataEntrega">
                    <p th:if="${#fields.hasErrors('dataEntrega')}"
                        th:errors="*{dataEntrega}"
                        class="alert alert-danger"></p>
                </div>

                <div class="form-group">
                    <label for="txtmetodo">Forma pagamento:</label>
                    <select class="form-select" th:field="*{pagamento.metodo}" id="txtmetodo">
                        <option value="0">Selecione uma opção</option>
                        <option value="Cartão">Cartão</option>
                        <option value="Dinheiro">Dinheiro</option>
                        <option value="Pix">Pix</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="txtparcelas">Parcelas:</label>
                    <select class="form-select" th:field="*{pagamento.parcelas}" id="txtparcelas">
                        <option value="0">Selecione uma opção</option>
                        <option value="À vista">À vista</option>
                        <option value="2x">2x</option>
                        <option value="3x">3x</option>
                        <option value="4x">4x</option>
                    </select>
                </div>
            
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form> 
            <a href="javascript:window.history.go(-1)">Voltar</a>             
        </main>

        <footer th:include="layout :: footer"></footer>
    </body>
</html>