<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:include="layout :: head"></head>

    <body>
        <nav th:replace="layout :: menu"></nav>
        <main class="container">
            <table class="table">
                <thead>
                    <tr><th>Id</th>
                        <th>Cliente</th>
                        <th>Modelo</th>
                        <th>Diarias</th>
                        <th>Data da Retirada</th>
                        <th>Data da Entrega</th>
                        <th>Total</th>
                        <th>Pagamento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="aluguel : ${listaAluguel}">
                    <td th:text="${aluguel.cliente?.nome}"></td>
                    <td th:text="${aluguel.carro?.modelo}"></td>
                    <td th:text="${aluguel.diarias}"></td>
                    <td th:text="${#dates.format(aluguel.dataRetirada, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#dates.format(aluguel.dataEntrega, 'dd/MM/yyyy')}"></td>
                    <td th:text="${aluguel.valorTotal}"></td>
                    <td th:text="${aluguel.pagamento.metodo}"></td>  

                </tbody>
            </table> 
            <a href="javascript:window.history.go(-1)">Voltar</a>  
        </main>
        <div class="modal" tabindex="-1" id="modalaluguel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Excluir </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Confirma exclusão?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                        <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                    </div>
                </div>
            </div>
        </div>

        <footer th:include="layout :: footer"></footer>
        <script th:src="@{/scriptAluguel.js}"></script>
    </body>
</html>